<a href="http://www.purmeovitamine.de">
    <img src="http://www.purmeovitamine.de/media/shared/Homepage-Design/logo.jpg" border="0" alt="purmeo.de" align="right" />
</a>
<br />
<br />
Hallo {{ firstname }} {{ lastname }},
<br />
<br />
Mit der Bestellung wurde ein Konto bei Purmeo automatisch erstellt. 
<br />
<br />
Ihr Passwort lautet: {{ password }}
<br />  
<br />
<br />
Ihr Purmeo Service-Team
<br />
<br />
Antwort an: <a href="mailto:service@purmeo.de">service@purmeo.de</a>
<br />
Wir sind f&uuml;r Sie da: +49 30 48492850
<br />
<br />
<br />
<br />
<font size="-2">
Purmeo, Kastanienallee 29/30, D-10405 Berlin
<br />
Gesch&auml;ftsf&uuml;hrer: Nicol&agrave;s Boldt, Peter Haag
<br />
Sitz der Gesellschaft ist Berlin, Registergericht: ag Berlin - HRB , USt-ID: DE
<br />
</font>