{% extends 'PurmeoEshopBundle::layout.html.twig' %}

{% block title %}Purmeo{% endblock%}

{% block main %}
<table style="margin-left: 75px; margin-right: 75px;" border="0">
    <tbody>
        <tr>
            <td>
                <h3 style="text-align: justify;"><span class="Apple-style-span" style="font-size: 13px; font-weight: normal; letter-spacing: normal; line-height: normal;"><strong>Allgemeine Gesch&auml;ftsbedingungen der Purmeo GmbH , Kastanienallee 29/30, 10435 Berlin</strong></span></h3>
                <p style="text-align: justify;"><strong>&nbsp;</strong><strong>&nbsp;</strong></p>
                <p style="text-align: justify;"><strong>&sect;1 Allgemeines, Geltungsbereich</strong></p>
                <p style="text-align: justify;"><strong>&nbsp;</strong></p>
                <p style="text-align: justify;">Ausschlie&szlig;lich die folgenden Allgemeinen Gesch&auml;ftsbedingungen (AGB) in ihrer zur Zeit der Bestellung g&uuml;ltigen Fassung regeln das Vertragsverh&auml;ltnis zwischen der Purmeo GmbH (Gesch&auml;ftsf&uuml;hrer: Nicolas Boldt und Peter Haag) und dem Besteller. Sie gelten f&uuml;r alle Lieferungen innerhalb der Bundesrepublik Deutschland, &Ouml;sterreich, Spanien, England und Frankreich.</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;"><strong>&sect;2 Vertragsschluss, Kaufpreiszahlung und Verzug des Bestellers</strong></p>
                <p style="text-align: justify;">&nbsp;</p>
                <ol style="text-align: justify;">
                    <li>Das Angebot der Purmeo GmbH im Internet stellt lediglich eine unverbindliche Aufforderung an den Besteller dar ein Angebot abzugeben.Wir speichern den Vertragstext und senden Ihnen die Bestelldaten per Email zu. Die AGB k&ouml;nnen Sie jederzeit auf www.purmeo.de /agb einsehen. Vergangene Bestellungen k&ouml;nnen Sie in Ihrem Kundenkonto einsehen.</li>
                    <li>Nach Abgabe seiner Bestellung und damit der Abgabe eines Angebots auf Vertragsschluss erh&auml;lt der Besteller eine Auftragsbest&auml;tigung an die von ihm angegebene E-Mail-Adresse zugesandt, (Zeitpunkt des Vertragsabschlusses). Diese Email stellt die Annahme des Vertrages durch die Purmeo GmbH dar. Wir nehmen Bestellungen zu den Bedingungen der Website und dieser Allgemeinen Gesch&auml;ftsbedingungen ausschlie&szlig;lich in deutscher Sprache an, solange der Vorrat reicht. Voraussetzung f&uuml;r den Vertragsschluss ist weiterhin, dass der Kunde vollj&auml;hrig ist.</li>
                    <li>Die Zahlung der Ware erfolgt in Deutschland per Kreditkarte oder elektronischem Lastschriftverfahren. Aus Frankreich, Spanien, England oder &Ouml;sterreichen ist die Zahlung per Kreditkarte m&ouml;glich. Die Zahlung erfolgt auf Basis der der Purmeo GmbH vom Besteller mitgeteilten Daten.&nbsp;</li>
                    <ol>
                        <li><span class="Apple-style-span" style="line-height: normal;">Hat der Kunde eine sog. Einmallieferung bestellt, also keine wiederkehrenden Leistungen &uuml;ber mehrere Monate (Abonnement), so kann der Kaufpreis per Lastschrift oder per Kreditkarte beglichen werden.</span></li>
                        <ol>
                            <li><span class="Apple-style-span" style="line-height: normal;">Bei einer Zahlung per Lastschrift wird der Rechnungsbetrag einmalig abgebucht innerhalb von 30 Tagen nach der Annahme des Vertrages durch die Purmeo GmbH.</span></li>
                            <li><span class="Apple-style-span" style="line-height: normal;">Ferner bedient sich die Purmeo GmbH auch vertrauensw&uuml;rdiger Dritter, um Zahlungen per Kreditkarte und elektronischem Lastschriftverfahren abzuwickeln. Die Purmeo GmbH akzeptiert insofern erf&uuml;llungshalber (&sect;364 II BGB) Zahlungen an solche Dritte. Konkret ist das derzeit der Zahlungsdienstleister Adyen, der f&uuml;r eine Vielzahl gro&szlig;er und kleiner Unternehmen bereits t&auml;tig ist und f&uuml;r die Purmeo GmbH die Kreditkartenzahlungen abwickelt;&nbsp;<br /><br /></span><span class="Apple-style-span" style="line-height: normal;">Adresse: Stationsplein 57, 1012 AB Amsterdam, Niederlande.<br /><br /></span><span class="Apple-style-span" style="line-height: normal;">Die Vertragsbeziehungen zwischen Adyen und seinen Kunden richten sich ausschlie&szlig;lich nach den Nutzungsbedingungen von Adyen. Weitere Informationen zu Adyen finden sie auf der Homepage <a title="Adyen" href="http://www.adyen.com">http://www.adyen.com</a>.</span></li>
                            <li><span class="Apple-style-span" style="line-height: normal;">Die Zahlung gilt dann im Sinne von &sect;364 II BGB als an Adyen geleistet, wenn das Unternehmen ohne Einschr&auml;nkungen &uuml;ber den geleisteten Betrag verf&uuml;gen kann.</span></li>
                            <li><span class="Apple-style-span" style="line-height: normal;">Im Fall der Nichtzahlung behalten wir uns vor, ein Inkassounternehmen mit dem Einzug der Forderung zu beauftragen.</span></li>
                        </ol></ol></ol>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;"><strong>&sect;3 Lieferung</strong></p>
                <p style="text-align: justify;">&nbsp;</p>
                <ol style="text-align: justify;">
                    <li>Die Lieferung erfolgt durch &Uuml;bersendung des Kaufgegenstandes an die vom K&auml;ufer elektronisch mitgeteilte Adresse durch unseren Versandpartner Deutsche Post.</li>
                    <li>Purmeo &uuml;bernimmt die Kosten des Versandes ab Produktionsst&auml;tte zum Kunden. F&uuml;r den Kunden ist der Versand kostenfrei.&nbsp;</li>
                </ol>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;"><strong>&sect;4 R&uuml;cktrittsrecht</strong></p>
                <p style="text-align: justify;"><strong>&nbsp;</strong></p>
                <p style="text-align: justify;">Die Purmeo GmbH ist nach Vertragsschluss zum sofortigen R&uuml;cktritt vom Vertrag mit dem Besteller berechtigt bei unrichtiger, nicht rechtzeitiger oder mangelhafter Selbstbelieferung. Dies gilt nicht bei von der Purmeo GmbH schuldhaft herbeigef&uuml;hrter Nichtbelieferung. Die Purmeo GmbH verpflichtet sich, den Besteller &uuml;ber die Nichtverf&uuml;gbarkeit der Leistung nach M&ouml;glichkeit unverz&uuml;glich zu informieren. Bereits ausgetauschte Leistungen, insbesondere ein bereits vom Besteller bezahlter Gesamtpreis, werden unverz&uuml;glich erstattet.</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;"><strong>&sect;5 </strong><strong>Haftungsbegrenzung</strong></p>
                <p style="text-align: justify;">&nbsp;</p>
                <ol>
                    <li><span class="Apple-style-span" style="line-height: normal;">Bei leicht fahrl&auml;ssiger Pflichtverletzung beschr&auml;nkt sich die Haftung der Purmeo GmbH auf den nach der Art der Ware vorhersehbaren, vertragstypischen, unmittelbaren Durchschnittsschaden. Die Purmeo GmbH haftet nicht f&uuml;r weitere Sch&auml;den, die dem Besteller durch die mangelhafte Lieferung entstehen. Insbesondere haftet die Purmeo GmbH nicht f&uuml;r entgangenen Gewinn oder f&uuml;r sonstige Verm&ouml;genssch&auml;den des Bestellers. Dies gilt auch bei leicht fahrl&auml;ssigen Pflichtverletzungen der gesetzlichen Vertreter, Mitarbeiter oder Erf&uuml;llungsgehilfen der Purmeo GmbH. Diese Haftungsbeschr&auml;nkung erfasst auch die Haftung f&uuml;r unerlaubte Handlungen.</span></li>
                    <li><span class="Apple-style-span" style="line-height: normal;">Diese Haftungsbeschr&auml;nkung gilt nicht f&uuml;r Sch&auml;den aus der Verletzung von Leben, K&ouml;rper oder Gesundheit, die auf einer vors&auml;tzlichen oder fahrl&auml;ssigen Pflichtverletzung der Purmeo GmbH oder einer vors&auml;tzlichen oder fahrl&auml;ssigen Pflichtverletzung ihrer gesetzlichen Vertreters oder Erf&uuml;llungsgehilfen beruhen. Sie gilt ferner nicht f&uuml;r Verschulden bei Vertragsverhandlungen oder f&uuml;r Anspr&uuml;che, die der Besteller nach dem Produkthaftungsgesetz geltend macht.</span></li>
                    <li><span class="Apple-style-span" style="line-height: normal;">Im &Uuml;brigen gelten die gesetzlichen Vorschriften.</span></li>
                </ol>
                <p style="text-align: justify;"><strong>&nbsp;</strong></p>
                <p style="text-align: justify;"><strong>&nbsp;</strong></p>
                <p style="text-align: justify;"><strong>&sect;6 Eigentumsvorbehalt</strong></p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;">Die Ware bleibt bis zur vollst&auml;ndigen Bezahlung Eigentum der Purmeo GmbH (Vorbehaltsware). Der Besteller darf &uuml;ber die Vorbehaltsware nicht verf&uuml;gen (d.h. sie nicht ver&auml;u&szlig;ern oder belasten).</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;"><strong>&sect;7 Aufrechnung</strong></p>
                <p style="text-align: justify;"><strong>&nbsp;</strong></p>
                <p style="text-align: justify;">Ein Recht zur Aufrechnung steht dem Besteller nur zu, wenn seine Gegenanspr&uuml;che rechtskr&auml;ftig festgestellt oder von der Purmeo GmbH anerkannt sind.</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;"><strong>&sect;8 K&uuml;ndigung</strong></p>
                <p style="text-align: justify;"><strong>&nbsp;</strong></p>
                <ol><ol>
                        <li><span class="Apple-style-span" style="line-height: normal;">Jedes Abonnement, der Bezug von Purmeo-Produkten in wiederkehren Lieferungen, l&auml;uft zun&auml;chst mindestens &uuml;ber die bei der Bestellung und beim Zustandekommen des Vertrages vereinbarte Dauer.</span></li>
                        <li><span class="Apple-style-span" style="line-height: normal;">Das 12-Monats-Abonnement (&bdquo;Purmeo Komplettplan&ldquo;) verl&auml;ngert sich automatisch um den urspr&uuml;nglichen Zeitraum, d.h. den anfangs vereinbarten Zeitraum von 12 Monaten, wenn nicht sp&auml;testens sechs Wochen vor Ablauf des Bezugszeitraumes schriftlich gek&uuml;ndigt wird. Das Starter-Paket kann monatliche 14 Tage vor Lieferung der n&auml;chsten Box gek&uuml;ndigt werden.</span></li>
                    </ol></ol>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p><span class="Apple-style-span" style="line-height: normal;">Bitte schicken Sie daher Ihre K&uuml;ndigung rechtzeitig und ausschlie&szlig;lich an:<br /><br /></span><span class="Apple-style-span" style="line-height: normal;">Purmeo GmbH<br /></span><span class="Apple-style-span" style="line-height: normal;">Kastanienallee 29/30<br /></span><span class="Apple-style-span" style="line-height: normal;">10435 Berlin</span></p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;"><strong>&sect;9 Widerrufsrecht und Widerrufsbelehrung</strong></p>
                <p style="text-align: justify;"><strong>&nbsp;</strong></p>
                <p style="text-align: justify;"><span style="text-decoration: underline;">Widerrufsrecht</span></p>
                <p style="text-align: justify;"><strong><span style="text-decoration: underline;"><br /></span></strong></p>
                <p style="text-align: justify;">Sie k&ouml;nnen als Kunde der Purmeo GmbH die Vertragserkl&auml;rung innerhalb von 14 Tagen ohne Angabe von Gr&uuml;nden in Textform (z.B. Brief, Fax, E-Mail) oder &ndash; wenn Ihnen die Sache vor Fristablauf &uuml;berlassen wurde - auch durch R&uuml;cksendung der Sache widerrufen.</p>
                <span>Die Frist beginnt nach Erhalt dieser Belehrung in Textform, jedoch nicht vor Eingang der Ware beim Empf&auml;nger (bei der wiederkehrenden Lieferung gleichartiger Waren nicht vor Eingang der ersten&nbsp;</span><span>Teillieferung) und auch nicht vor Erf&uuml;llung unserer Informationspflichten gem&auml;&szlig; Artikel 246 &sect; 2 in Verbindung mit &sect; 1 Absatz 1 und 2 EGBGB sowie unserer&nbsp;</span><span>Pflichten gem&auml;&szlig; &sect; 312g Absatz 1 Satz 1 BGB in Verbindung mit Artikel 246 &sect; 3 EGBGB.&nbsp;Zur Wahrung der Widerrufsfrist gen&uuml;gt die rechtzeitige Absendung des Widerrufs oder der Sache.</span>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;">Der Widerruf ist zu richten an:</p>
                <p style="text-align: justify;"><br />Purmeo GmbH</p>
                <p style="text-align: justify;">Kastanienallee 29/30</p>
                <p style="text-align: justify;">10435 Berlin</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;"><span style="text-decoration: underline;">Individualisierte Produkte</span></p>
                <p style="text-align: justify;">Das Widerrufsrecht besteht, soweit nicht ein anderes bestimmt ist, nicht bei Fernabsatzvertr&auml;gen: zur Lieferung von Waren, die nach Kundenspezifikation angefertigt werden oder eindeutig auf die pers&ouml;nlichen Bed&uuml;rfnisse zugeschnitten sind oder die auf Grund ihrer Beschaffenheit nicht f&uuml;r eine R&uuml;cksendung geeignet sind oder schnell verderben k&ouml;nnen oder deren Verfalldatum &uuml;berschritten w&uuml;rde.</p>
                <p style="text-align: justify;"><strong>&nbsp;</strong></p>
                <p style="text-align: justify;"><span style="text-decoration: underline;">Widerrufsfolgen</span></p>
                <p style="text-align: justify;"><span style="text-decoration: underline;"><br /></span></p>
                <p style="text-align: justify;">Im Falle eines wirksamen Widerrufs sind die beiderseits empfangenen Leistungen zur&uuml;ckzugew&auml;hren und ggf. gezogene Nutzungen (z.B. Zinsen) herauszugeben. K&ouml;nnen Sie uns die empfangene Leistung sowie Nutzungen (z.B. Gebrauchsvorteile) nicht oder teilweise nicht oder nur in verschlechtertem Zustand zur&uuml;ckgew&auml;hren beziehungsweise herausgeben, m&uuml;ssen Sie uns insoweit Wertersatz leisten. F&uuml;r die Verschlechterung der Sache und f&uuml;r gezogene Nutzungen m&uuml;ssen Sie Wertersatz nur leisten, soweit die Nutzungen oder die Verschlechterung auf einen Umgang mit der Sache zur&uuml;ckzuf&uuml;hren ist, der &uuml;ber die Pr&uuml;fung der Eigenschaften und der Funktionsweise hinausgeht. Unter "Pr&uuml;fung der Eigenschaften und der Funktionsweise" versteht man das Testen und Ausprobieren der jeweiligen Ware, wie es etwa im Ladengesch&auml;ft m&ouml;glich und &uuml;blich ist. Paketversandf&auml;hige Sachen sind auf unsere Gefahr zur&uuml;ckzusenden. Sie haben die regelm&auml;&szlig;igen Kosten der R&uuml;cksendung zu tragen, wenn die gelieferte Ware der bestellten entspricht und wenn der Preis der zur&uuml;ckzusendenden Sache einen Betrag von 40 Euro nicht &uuml;bersteigt oder wenn Sie bei einem h&ouml;heren Preis der Sache zum Zeitpunkt des Widerrufs noch nicht die Gegenleistung oder eine vertraglich vereinbarte Teilzahlung erbracht haben. Anderenfalls ist die R&uuml;cksendung f&uuml;r Sie kostenfrei. Nicht paketversandf&auml;hige Sachen werden bei Ihnen abgeholt. Verpflichtungen zur Erstattung von Zahlungen m&uuml;ssen innerhalb von 30 Tagen erf&uuml;llt werden. Die Frist beginnt f&uuml;r Sie mit der Absendung Ihrer Widerrufserkl&auml;rung oder der Sache, f&uuml;r uns mit deren Empfang.</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;"><span style="text-decoration: underline;">Finanzierte Gesch&auml;fte</span></p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;">Wenn Sie diesen Vertrag durch ein Darlehen finanzieren und ihn sp&auml;ter widerrufen, sind Sie auch an den Darlehensvertrag nicht mehr gebunden, sofern beide Vertr&auml;ge eine wirtschaftliche Einheit bilden. Dies ist insbesondere dann anzunehmen, wenn wir gleichzeitig Ihr Darlehensgeber sind oder wenn sich Ihr Darlehensgeber im Hinblick auf die Finanzierung unserer Mitwirkung bedient. Wenn uns das Darlehen bei Wirksamwerden des Widerrufs oder bei der R&uuml;ckgabe der Ware bereits zugeflossen ist, tritt Ihr Darlehensgeber im Verh&auml;ltnis zu Ihnen hinsichtlich der Rechtsfolgen des Widerrufs oder der R&uuml;ckgabe in unsere Rechte und Pflichten aus dem finanzierten Vertrag ein. Letzteres gilt nicht, wenn der vorliegende Vertrag dem Erwerb von Finanzinstrumenten (z.B. von Wertpapieren, Devisen oder Derivaten) zum Gegenstand hat. Wollen Sie eine vertragliche Bindung so weitgehend wie m&ouml;glich vermeiden, machen Sie von Ihrem Widerrufsrecht Gebrauch und widerrufen Sie zudem den Darlehensvertrag, wenn Ihnen auch daf&uuml;r ein Widerrufsrecht zusteht. Ende der Widerrufsbelehrung</p>
                <p style="text-align: justify;"><br />Bitte senden Sie die Ware an folgende R&uuml;cksendeadresse:</p>
                <p style="text-align: justify;"><br />Purmeo GmbH</p>
                <p style="text-align: justify;">Kastanienallee29/30 <br />10435 Berlin</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;"><span style="text-decoration: underline;">Ende der Widerrufsbelehrung</span></p>
                <p style="text-align: justify;"><span style="text-decoration: underline;"><br /></span></p>
                <p style="text-align: justify;">Werden Bestellungen vorgenommen, die der gewerblichen oder selbstst&auml;ndigen beruflichen T&auml;tigkeit des Kunden zuzuordnen sind, steht dem Kunden kein Widerrufsrecht nach &sect;&sect; 312d, 355 BGB zu. Die &sect; 9 dieser AGB findet keine Anwendung.</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;"><strong>&sect; 10 Gerichtsstand und anwendbares Recht</strong><strong> </strong></p>
                <p style="text-align: justify;"><br />Bei Meinungsverschiedenheiten und Rechtsstreitigkeiten gilt ausschlie&szlig;lich das Recht der Bundesrepublik Deutschland. Bei Bestellungen durch Kaufleute oder wenn der Besteller nach Vertragsschluss seinen Wohnsitz oder gew&ouml;hnlichen Aufenthalt in ein anderes Land als die Bundesrepublik Deutschland verlegt oder der Wohnsitz oder gew&ouml;hnliche Aufenthalt des Bestellers im Falle einer Klageerhebung nicht bekannt ist, ist der Gerichtsstand f&uuml;r alle Streitigkeiten aus oder im Zusammenhang mit Bestellungen, Berlin.</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p><strong>&sect; 11 40 Euro Klausel</strong><strong></strong></p>
                <p><br />Machen Sie von Ihrem Widerrufsrecht Gebrauch, haben Sie die regelm&auml;&szlig;igen Kosten der R&uuml;cksendung zu tragen, wenn die gelieferte Ware der bestellten entspricht und wenn der Preis der zur&uuml;ckzusendenden Sache einen Betrag von 40 Euro nicht &uuml;bersteigt oder wenn Sie bei einem h&ouml;heren Preis der Sache zum Zeitpunkt des Widerrufs noch nicht die Gegenleistung oder eine vertraglich vereinbarte Teilzahlung erbracht haben. Anderenfalls ist die R&uuml;cksendung f&uuml;r Sie kostenfrei.</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;"><strong>&sect; 12 Anbieterkennzeichnung</strong></p>
                <p style="text-align: justify;"><strong>&nbsp;</strong></p>
                <p style="text-align: justify;">Purmeo GmbH</p>
                <p style="text-align: justify;">Kastanienallee29/30<br />10435 Berlin</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;">E-Mail: mail@purmeo.de</p>
                <p style="text-align: justify;">Telefon: +49 (0) 30 48492850</p>
                <p style="text-align: justify;">telefonische Erreichbarkeit: Werktags 9:00 Uhr -17:00 Uhr</p>
                <p style="text-align: justify;">telefonisch Bestellannahme: 9:00 Uhr &ndash; 17:00 Uhr</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;">Amtsgericht Berlin HRB 140069</p>
                <p style="text-align: justify;">Gesch&auml;ftsf&uuml;hrer Nicol&agrave;s Boldt, Peter Haag</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;">Stand: 2/2012 &copy; Purmeo GmbH</p>
                <p style="text-align: justify;">&nbsp;</p>
                <p style="text-align: justify;"><em>In diesen AGB genannte Vorschriften des B&uuml;rgerlichen Gesetzbuchs (BGB) finden Sie unter</em></p>
                <p style="text-align: justify;"><em><a title="Gesetzesauszug" href="http://bundesrecht.juris.de/volltextsuche.html">http://bundesrecht.juris.de/volltextsuche.html</a></em></p>
                <h3 style="text-align: justify;">&nbsp;</h3>
            </td>
        </tr>
    </tbody>
</table>
<p style="text-align: justify;">&nbsp;</p>
{% endblock%}