{% extends 'PurmeoEshopBundle::layout.html.twig' %}

{% block main %}
<p>&nbsp;</p>
<p>&nbsp;</p>
<table style="margin-left: 75px; margin-right: 75px;" border="0">
<tbody>
<tr>
<td style="text-align: justify;">
<p>&nbsp;</p>
<h3 class="Purmeo3">Magnesium</h3>
<p>Als Bestandteil des gr&uuml;nen Pflanzenfarbstoffes ist Magnesium in gr&uuml;nem Blattgem&uuml;se, z. B. Spinat, und einigen Obstsorten, wie z. B. Bananen, vertreten. Produkte aus unbehandeltem Getreide (z. B. Haferkleie und brauner Reis) sowie N&uuml;sse (z. B. Mandeln und Schwarzn&uuml;sse) sind ebenfalls reich an Magnesium. Fleisch und Milch haben einen mittleren und verarbeitete Lebensmittel f&uuml;r gew&ouml;hnlich den geringsten Magnesiumgehalt.</p>
<br />
<p><strong>Magnesium...</strong><br /> tr&auml;gt zur Verringerung von M&uuml;digkeit und Erm&uuml;dung bei.<br /> tr&auml;gt zum Eletcrolytgleichgewicht bei.<br /> tr&auml;gt zu einem normalen Energiestoffwechsel bei.<br /> tr&auml;gt zu einer normalen Funktion des Nervensystems bei.<br /> tr&auml;gt zu einer normalen Muskelfunktuon bei.<br /> tr&auml;gt zu einer normalen Eiwei&szlig;synthese bei.<br /> tr&auml;gt zur normalen psychischen Funktion bei.<br /> tr&auml;gt zur Erhaltung normaler Knochen bei.<br /> tr&auml;gt zur Erhaltung normaler Z&auml;hne bei.<br /> hat eine Funktion bei der Zellteilung.</p>
<p>&nbsp;</p>
<h3>&nbsp;</h3>
<h3>Calcium</h3>
<p>Die wichtigsten Calciumlieferanten in der menschlichen Ern&auml;hrung sind Milch und Milchprodukte, wobei die Gehalte je nach Produkt und Herstellungsverfahren stark schwanken. Fleisch- und Fleischprodukte enthalten dagegen kaum Calcium. Einige Gem&uuml;sesorten wie Gr&uuml;nkohl, die reich an Calcium und arm an absorptionshemmenden Bestandteilen wie Oxals&auml;ure sind, k&ouml;nnen ebenso wie verschiedene Nusssorten zur Bedarfsdeckung beitragen. Vielfach spielt auch das Trinkwasser eine bedeutsame Rolle f&uuml;r die Versorgung, wobei auch hier die Calciumgehalte stark schwanken k&ouml;nnen.</p>
<br />
<p><strong>Calcium...</strong><br /> tr&auml;gt zu einer normalen Blutgerinnung bei.<br /> tr&auml;gt zu einem normalen Energiestoffwechsel bei.<br /> tr&auml;gt zu einer normalen Muskelfunktion bei.<br /> tr&auml;gt zu einer normalen Signal&uuml;bertragung zwischen den Nervenzellen bei.<br /> tr&auml;gt zu einer normalen Funktion von Verdauungsenzymen bei.<br /> hat eine Funktion bei der Zellteilung und &ndash;spezialisierung.<br /> wird f&uuml;r die Erhaltung normaler Knochen ben&ouml;tigt.<br /> wird f&uuml;r die Erhaltung normaler Z&auml;hne ben&ouml;tigt.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3 class="Purmeo3" style="text-align: left;"><a name="anker_jod"></a>Jod</h3>
<p>Der Jodgehalt von Lebensmitteln ist durch starke regionale Schwankungen gekennzeichnet. Er ist abh&auml;ngig vom nat&uuml;rlichen Jodgehalt in Boden und Wasser sowie den Produktionsbedingungen (u.a. Pflanzend&uuml;ngung und Jodgehalt des Tierfutters). In Deutschland stellt jodiertes Speisesalz inzwischen eine bedeutende Jodquelle dar. Lebensmittel mit nat&uuml;rlich hohem Jodgehalt sind fast ausschlie&szlig;lich Meerestiere und Seetang; aufgrund des geringen Verzehrs betr&auml;gt der Anteil von Seefisch an der Jodversorgung in Deutschland nur etwa 7 %. 2 Die mengenm&auml;&szlig;ig wichtigsten Jodlieferanten sind &ndash; unter Ber&uuml;cksichtigung von jodiertem Speisesalz &ndash; Fleisch und Wurst (20 %), Brot (18 %) sowie alkoholfreie Getr&auml;nke und Milchprodukte.</p>
<br />
<p><strong>Jod...</strong><br /> tr&auml;gt zu einer normalen kognitiven Funktion bei.<br /> tr&auml;gt zu einem normalen Energiestoffwechsel bei.<br /> tr&auml;gt zu einer normalen Funktion des Nervensystems bei.<br /> tr&auml;gt zur Erhaltung normaler Haut bei.<br /> tr&auml;gt zu einer normalen Produktion von Schilddr&uuml;senhormonen und zu einer normalen Schilddr&uuml;senfunktion bei.</p>
<p>&nbsp;</p>
<h3 class="Purmeo3" style="text-align: left;"><a name="anker_eisen"></a>Eisen</h3>
<p>Die Eisenaufnahme aus der Nahrung ist von der Bioverf&uuml;gbarkeit des Eisens im jeweiligen Lebensmittel abh&auml;ngig. Unter Bioverf&uuml;gbarkeit versteht man das Ma&szlig;, in dem der K&ouml;rper das in der Nahrung vorliegende Eisen aufnehmen und verwerten kann. Biochemisch unterscheidet man zwischen zwei- und dreiwertigem Eisen. Zweiwertiges Eisen, das als Bestandteil des Blutfarbstoffs nur in Fleisch und Fisch vorkommt, besitzt eine h&ouml;here Bioverf&uuml;gbarkeit als das dreiwertige Eisen, das sowohl in pflanzlichen als auch in tierischen Lebensmitteln enthalten ist. Viele pflanzliche Lebensmittel k&ouml;nnen erheblich zur Eisenversorgung beitragen, insbesondere H&uuml;lsenfr&uuml;chte, &Ouml;lsamen, N&uuml;sse, Vollgetreide sowie verschiedene Gem&uuml;searten wie z.B. Fenchel, Feldsalat, Rucola, Zucchini, gr&uuml;ne Erbsen und Trockenfr&uuml;chte wie z.B. Pfirsich, Aprikose, Dattel.</p>
<br />
<p><strong>Eisen...</strong><br /> tr&auml;gt zu einem normalen Energiestoffwechsel bei.<br /> tr&auml;gt zu einer normalen kognitiven Funktion bei.<br /> tr&auml;gt zur normalen Bildung von roten Blutk&ouml;rperchen und H&auml;moglobin bei.<br /> tr&auml;gt zu einem normalen Sauerstofftransport im K&ouml;rper bei.<br /> tr&auml;gt zu einer normalen Funktion des Immunsystems bei.<br /> tr&auml;gt zur Verringerung von M&uuml;digkeit und Erm&uuml;dung bei.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3 class="Purmeo3" style="text-align: left;"><a name="anker_zink"></a>Zink</h3>
<p>Zink ist in vielen verschiedenen Lebensmitteln enthalten. Um optimal mit Zink versorgt zu werden, ist eine abwechslungsreiche Mischkost mit zinkhaltigen Lebensmitteln ideal. Die wichtigste Zinkquelle sind tierische Lebensmittel. Tierische Lebensmittel, Fische und Meeresfr&uuml;chte einbezogen, enthalten im Vergleich zu pflanzlicher Nahrung h&auml;ufig gr&ouml;&szlig;ere Mengen an Zink. Insbesondere Innereien sind sehr zinkhaltig. Bei den Meerestieren zeichnen sich Austern durch einen sehr hohen Zinkgehalt aus. Kuhmilch enth&auml;lt relativ wenig Zink. Andere Milchprodukte enthalten dagegen recht viel Zink, wie zum Beispiel einige K&auml;sesorten. Aus der Gruppe der Getreideprodukte sind Haferflocken, Weizenvollkornmehl und Weizenkeime sehr gute Zinklieferanten. Obwohl viele Gem&uuml;sesorten nicht so reich an Zink sind, werden durch den Verzehr von gr&uuml;nen Erbsen, getrockneten Linsen und Sojabohnen auch relativ hohe Anteile an Zink zugef&uuml;hrt. Weiterhin enthalten Kakao und die meisten N&uuml;sse viel Zink.</p>
<br />
<p><strong>Zink...</strong><br /> tr&auml;gt zu einem normalen S&auml;ure-Basen-Stoffwechsel bei.<br /> tr&auml;gt zu einem normalen Kohlenhydrat-Stoffwechsel bei.<br /> tr&auml;gt zu einer normalen kognitiven Funktion bei.<br /> tr&auml;gt zur einer normalen DANN-Synthese bei.<br /> tr&auml;gt zu einer normalen Fruchtbarkeit un einer normalen Reproduktion bei.<br /> tr&auml;gt zu einem normalen Stoffwechsel von Makron&auml;hrstoffen bei.<br /> tr&auml;gt zu einem normalen Fetts&auml;urestoffwechsel bei.<br /> tr&auml;gt zu einem normalen Vitamin-A-Stoffwechsel bei.<br /> tr&auml;gt zu einer normalen Eiwei&szlig;synthese bei.<br /> tr&auml;gt zur Erhaltung normaler Knochen/Haare/N&auml;gel/Haut bei.<br /> tr&auml;gt zur Erhaltung eines normalen Testosteronspiegels im Blut bei.<br /> tr&auml;gt zur Erhaltung normaler Sehkraft bei.<br /> tr&auml;gt zu einer normalen Funktion des Immunsystems bei.<br /> tr&auml;gt dazu bei, die Zellen vor oxidativem Strss zu sch&uuml;tzen.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3 class="Purmeo3" style="text-align: left;"><a name="anker_chrom"></a>Chrom</h3>
<p>Das h&auml;ufigste Vorkommen von Chrom findet man in Melasse, Bierhefe, Weizenkeimen, Leber, K&auml;se, roten R&uuml;ben, Karotten, Pilzen, Mandeln, H&uuml;lsenfr&uuml;chten, Lachs, Austern, Krabben. Schon leichter Chrommangel kann schwerwiegende Folgen wie Diabetes bis zu Wachstumsst&ouml;rungen haben. Ein schwerer Chrommangel kann hohen Blutdruck, erh&ouml;hte Cholesterinwerte und damit die Gefahr von Thrombose, Arteriosklerose, Schlaganfall und Krebs steigern.</p>
<br />
<p><strong>Chrom...</strong><br /> tr&auml;gt zu einem normalen Stoffwechsel von Makron&auml;hrstoffen bei.<br /> tr&auml;gt zur Aufrechterhaltung eines normalen Blutzuckerspiegels bei.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3 class="Purmeo3" style="text-align: left;"><a name="anker_fluorid"></a>Fluorid</h3>
<p>Die Aufnahme von Fluorid erfolgt teilweise im Magen, teilweise im D&uuml;nndarm. &Uuml;ber die Niere wird das &uuml;bersch&uuml;ssige Fluorid wieder ausgeschieden. Nach 3-4 Stunden sind etwa 20% der aufgenommenen Fluoridmenge wieder ausgeschieden. Unter den Fluoridquellen unserer Nahrung ist das Trinkwasser die beste. W&auml;hrend das Fluorid aus vielen Nahrungsmitteln nur zu einem geringen Prozentsatz ausgenutzt werden kann, ist das Fluorid aus dem Trinkwasser gut verf&uuml;gbar. Unter den Getr&auml;nken ist besonders der Tee als Fluoridquelle zu nennen. Teeaufg&uuml;sse haben bei &uuml;blicher Zubereitung eine Fluoridkonzentration, die etwa die H&ouml;he von fluoridiertem Trinkwasser erreicht, teilweise dar&uuml;ber. Weitere kleinere Mengen Fluorid finden sich in Blatt- und Stengelgem&uuml;sen, Spinat, Petersilie, Schnittlauch und Zwiebeln.</p>
<br />
<p><strong>Fluorid...</strong><br /> tr&auml;gt zur Erhaltung der Zahnmineralisierung bei.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p class="Purmeo3"><span class="Apple-style-span" style="font-size: 18px; font-weight: bold; letter-spacing: 1px; line-height: 18px;"><a name="anker_kupfer"></a>Kupfer</span></p>
<p>In Innereien (Leber), Schalentieren wie Krebsen und Hummern, in Schokolade und N&uuml;ssen sowie Vollkorngetreide (insbesondere Buchweizen) kommt relativ viel Kupfer vor. Wenig kupferhaltige Lebensmittel sind hingegen Milch und niedrig ausgemahlenen Mehle sowie Zucker. Auch kupferhaltige Leitungssysteme k&ouml;nnen in bestimmten Regionen &uuml;ber die Wasseraufnahme einen Teil zur Kupferaufnahme beitragen.</p>
<br />
<p><strong>Chrom...</strong><br /> tr&auml;gt zur Erhaltung von normalem Bindegewebe bei.<br /> tr&auml;gt zur einem normalen Energiestoffwechsel bei.<br /> tr&auml;gt zur einer normalen Funktion des Nervensystems bei.<br /> tr&auml;gt zu einer normalen Haarpigmentierung bei.<br /> tr&auml;gt zu einem normalen Eisentransport im K&ouml;rper bei.<br /> tr&auml;gt zu einer normalen Hautpigmentierung bei.<br /> tr&auml;gt zu einem normalen Funktion des Immunsystems bei.<br /> tr&auml;gt dazu bei, die Zellen vor oxidativem Stress zu sch&uuml;tzen.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
{% endblock %}