{% extends 'PurmeoEshopBundle::layout.html.twig' %}

{% block main %}
<table style="margin-left: 75px; margin-right: 75px;" border="0">
<tbody>
<tr>
<td>
<p style="text-align: justify;">Ein ausgeglichener Vitaminhaushalt ist Kernst&uuml;ck der menschlichen Gesundheit. Dem richtigen Handeln liegt daf&uuml;r ein umfassendes Verst&auml;ndnis zu Grunde.&nbsp;Deshalb ist uns wichtig, dass Sie zu jeder Zeit genau wissen, was in Ihrer Purmeo Box steckt. Im Purmeo N&auml;hrstofflexikon sind alle Vitamine, Mineralstoffe und&nbsp; sonstige Inhaltsstoffe der Purmeo-Pr&auml;parate erkl&auml;rt.&nbsp;H&auml;ufige Fragen zum Produkt und zu Purmeo <a title="Zu den FAQs" href="/fragen">finden Sie hier</a>. Wenn Ihre Frage nicht dabei ist, wenden Sie sich einfach direkt an uns: <a title="Zum Kontakt" href="/kontakt">Zum Kontakt</a>.</p>
<p style="text-align: justify;">&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p style="text-align: justify;">&nbsp;</p>
</td>
</tr>
<tr>
<td>
<h3 style="text-align: justify;"><span style="background-color: #ffffff; font-size: 13px;">Durch Klick auf den jeweiligen Button gelangen Sie zu den Details &uuml;ber die Purmeo Inhaltsstoffe:</span></h3>
</td>
</tr>
<tr>
<td align="center">
<table border="0">
<tbody>
<tr>
<td>
<p>&nbsp;</p>
<table class="button_big" border="0">
<tbody>
<tr>
<td><a style="width: 220px; text-align: left;" href="/vitamine">Vitamine</a></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
</td>
<td style="width: 50px;">&nbsp; &nbsp;</td>
<td>
<table class="button_big" border="0">
<tbody>
<tr>
<td><a style="width: 250px;" href="/mineralstoffe">Mineralstoffe</a></td>
</tr>
</tbody>
</table>
</td>
<td style="width: 50px;">&nbsp;&nbsp;</td>
<td>
<table class="button_big" border="0">
<tbody>
<tr>
<td><a style="width: 250px; text-align: left;" href="/vitalstoffe">Andere Vitalstoffe</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
{% endblock %}