{% extends 'PurmeoEshopBundle::layout.html.twig' %}

{% block main %}
<p>&nbsp;</p>
<table style="margin-left: 75px; margin-right: 75px;" border="0">
<tbody>
<tr>
<td style="width: 350px;" colspan="3">
<p style="text-align: left;">Purmeo legt nicht nur bei Produkt und Konzept Wert auf h&ouml;chste Qualit&auml;t. Auch jeder unserer Partner muss h&ouml;chsten Service- und Zuverl&auml;ssigkeitsanspr&uuml;chen gerecht werden. Denn unser Anspruch ist, die Versorgung des Vitaminhaushalts f&uuml;r den Kunden so einfach wie m&ouml;glich zu machen. Deshalb arbeiten wir mit diesen Partnern zusammen:</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td style="width: 200px;" align="left" valign="top">
<p><img title="Partner/lanutre-logo.jpg" src="/media/shared/Infoseiten/Partner/lanutre-logo.jpg" alt="Partner/lanutre-logo.jpg" width="200" height="63" /></p>
</td>
<td style="width: 35px;">&nbsp;</td>
<td style="width: 400px; text-align: left;" align="left" valign="top">
<p>La Nutr&eacute; ist der Deutsche Hersteller unseres Vertrauens. Denn Produktion bei La Nutr&eacute; gen&uuml;gt wie Purmeo h&ouml;chsten Qualit&auml;ts- anspr&uuml;chen. Das Unternehmen wurde 1983 gegr&uuml;ndet und seit nunmehr f&uuml;nf Jahren&nbsp;stellen Experten bei La Nutr&eacute; in einem eigenen Unternehmenszweig Vitamin- und Mineralstoffpr&auml;parate her. La Nutr&eacute; produziert die vielen verschiedenen Purmeo Pr&auml;parate nach genauesten Vorgaben. Durch st&auml;ndige intensive Kommunikation ist kontinuierliche Kontrolle gew&auml;hrleistet und die hochmoderne Produktionstechnik von La Nutr&eacute; garantiert, dass Ihr Vitaminkomplex nur die Vitamine enth&auml;lt, die Sie wirklich brauchen.</p>
<p><a title="Zur La Nutr&eacute; Website" href="http://www.la-nutre.com/" target="_blank">Mehr Informationen zu La Nutr&eacute;</a>.&nbsp;</p>
</td>
</tr>
<tr>
<td style="width: 200px;" align="left" valign="top">
<p>&nbsp;</p>
</td>
<td style="width: 35px;">&nbsp;</td>
<td style="width: 400px;" align="left" valign="top">
<p>&nbsp;</p>
<p style="text-align: justify;">&nbsp;</p>
</td>
</tr>
<tr>
<td style="width: 200px;" align="left" valign="top">
<p><img title="Deutsche Post Logo" src="/media/shared/Infoseiten/Partner/Deutsche-Post-Logo.png" alt="Deutsche Post Logo" width="200" height="98" /></p>
</td>
<td style="width: 35px;">&nbsp;</td>
<td style="width: 400px;" align="left" valign="top">
<p><span style="background-color: #ffffff; font-size: 13px;">Die Deutsche Post liefert Ihre Purmeo Box zuverl&auml;ssig und p&uuml;nktlich.&nbsp;</span>In den meisten F&auml;llen erreicht Sie Ihre Purmeo Box&nbsp;mit der Deutschen Post &uuml;ber Nacht. Jedoch 2 Tage nach Versand ist das Paket im Regelfall sp&auml;testens bei Ihnen. <a title="Mehr zur Deutschen Post" href="http://www.epost.de/privatkunden.html">Mehr zu Deutschen Post erfahren Sie hier</a>.</p>
</td>
</tr>
<tr>
<td style="width: 200px;" align="left" valign="top">
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td style="width: 35px;">&nbsp;</td>
<td style="width: 400px;" align="left" valign="top">
<p style="text-align: justify;">&nbsp;</p>
</td>
</tr>
<tr>
<td style="width: 200px;" align="left" valign="top"><img title="PayPal Logo" src="/media/shared/Infoseiten/Partner/Paypal-Logo.png" alt="PayPal Logo" width="200" height="59" /></td>
<td style="width: 35px;">&nbsp;</td>
<td style="width: 400px;" align="left" valign="top">
<p>Neben Kreditkartenzahlung und Lastschriftverfahren k&ouml;nnen Sie Ihre Purmeo Box mit PayPal einfach, schnell und sicher bezahlen.</p>
<p>&nbsp;</p>
<ul>
<li><strong>Einfach:&nbsp;</strong>Bezahlen mit nur 2 Klicks, ohne Eingabe von Bank- oder Kreditkartendaten.</li>
</ul>
<ul>
<li><strong>Schnell:</strong>&nbsp;Purmeo erh&auml;lt das Geld sofort und versendet Ihre Purmeo Box dementprechend schnell</li>
</ul>
<ul>
<li><strong>Sicher:</strong>&nbsp;Ihre Bank- und Kreditkartendaten werden nicht an Dritte herausgegeben.</li>
</ul>
<ul>
<li>Das Bezahlen mit PayPal ist au&szlig;erdem kostenlos.</li>
</ul>
<p>&nbsp;</p>
<p><a href="https://www.paypal.com/de/cgi-bin/webscr?cmd=xpt/cps/general/HowToPayPal-outside" target="_blank">Mehr Infos auf der PayPal-Seite.</a></p>
</td>
</tr>
</tbody>
</table>
{% endblock %}