{% extends 'PurmeoEshopBundle::layout.html.twig' %}

{% block main %}
<p>&nbsp;</p>
<table border="0">
<tbody>
<tr>
<td><img style="border-style: initial; border-color: initial; font-size: 13px; background-color: #ffffff;" title="Der Purmeo Vitamin-Komplex" src="/media/shared/Infoseiten/Purmeo-Praeparate/Kapseln_inReihe_neu.png" alt="Vitaminmangel ausgleichen mit den Vitaminpr&auml;paraten von  PURMEO" width="900" height="80" /></td>
</tr>
</tbody>
</table>
<table style="margin-left: 75px; margin-right: 75px; width: 750px;" border="0">
<tbody>
<tr>
<td style="width: 750px;" valign="top">
<p>&nbsp;</p>
<p>&nbsp;</p>
<table border="0">
<tbody>
<tr>
<td colspan="3">
<h2>N&auml;hrstoffe aufeinander abgestimmt</h2>
</td>
</tr>
<tr>
<td><img title="Individueller Vitamin-Komplex" src="/media/shared/Infoseiten/Purmeo-Box/Vitaminkomplex-V2.png" alt="Der individuelle Vitamin-Komplex gleicht Vitaminmangel aus" width="228" height="130" /></td>
<td style="width: 30px;">&nbsp;&nbsp;</td>
<td>
<p><span>Die Purmeo Pr&auml;parate enthalten Vitamine, Mineralstoffe und weitere Vitalstoffe.&nbsp;Durch die Zusammenstellung von</span><span>&nbsp;Tabletten und Kapseln kann Purmeo mehr als 100.000 verschiedene N&auml;hrstoffbedarfe versorgen.</span><span style="font-size: 13px; background-color: #ffffff;">&nbsp;All</span>e Pr&auml;parate in den Tageseinheiten aufeinander abgestimmt, denn<span>&nbsp;</span><span>Vitamine und Mineralstoffe m&uuml;ssen dem K&ouml;rper in einem passenden Verh&auml;ltnis zugef&uuml;hrt werden um vollst&auml;ndig aufgenommen zu werden.&nbsp;Alle Pr&auml;parate werden von unserem <a title="Zu La Nutr&eacute;" href="/index.html?vw=jumplink&amp;ec=Partner{$SessionParticulars}">Partner&nbsp;LaNutr&eacute;</a>, exklusiv f&uuml;r Purmeo hergestellt und direkt aus der Produktion zu uns geliefert.&nbsp;</span></p>
</td>
</tr>
<tr>
<td colspan="3">
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Die einfachste Darreichungsform</h2>
</td>
</tr>
<tr>
<td><img title="Einfach Vitaminmangel ausgleichen" src="/media/shared/Infoseiten/Purmeo-Praeparate/Omega-3-Kapsel-in-Hand.jpg" alt="Die PURMEO Pr&auml;parate gleichen etwaigen Vitaminmangel aus-geschmacksneutral und leicht zu schlucken" width="228" height="130" />&nbsp;</td>
<td>&nbsp;</td>
<td>
<p>Die Purmeo Kapseln und Tabletten sind&nbsp;geschmacksneutral und einfach zu schlucken.&nbsp;<span>Der Vitaminkomplex in der Kapsel ist fertig zur Einnahme und muss nicht anger&uuml;hrt oder gemischt werden. Die Hartgelantine Kapsel sch&uuml;tzt die N&auml;hrstoffe bis in den Magen und verhindert so, dass die Wirkstoffe zu fr&uuml;h vom K&ouml;rper aufgenommen werden.&nbsp;</span>Wenn sich Ihr N&auml;hrstoffbedarf &auml;ndert passt Purmeo Ihre pers&ouml;nliche Tageseinheit f&uuml;r die n&auml;chste Purmeo Box an. Durch die farbliche Unterscheidbarkeit aller Pr&auml;parate k&ouml;nnen Sie alle Anpassungen nachvollziehen.</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<table style="margin-left: 75px; margin-right: 75px;" border="0">
<tbody>
<tr>
<td colspan="3" align="left" valign="top">
<h2 style="text-align: -webkit-auto;">Inhaltsstoffe</h2>
<p>F&uuml;r Details zu einem Inhaltsstoff klicken Sie einfach auf den Namen</p>
&nbsp;&nbsp;</td>
</tr>
<tr>
<td align="left" valign="top">
<table class="border_gray" border="0">
<tbody>
<tr>
<td>
<p>&nbsp;</p>
<table style="width: 440px;" border="0">
<tbody>
<tr>
<td style="width: 20px;">&nbsp;</td>
<td style="width: 125px;" align="left" valign="top">
<p><strong>Vitamine</strong></p>
<p class="fontsize_12">&nbsp;</p>
<p class="fontsize_12"><a title="Biotin Details" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Vitamine{$SessionParticulars}#anker_biotin">Biotin</a></p>
<p class="fontsize_12"><a title="Details Fols&auml;ure" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Vitamine{$SessionParticulars}#anker_folsaeure">Fols&auml;ure</a></p>
<p class="fontsize_12"><a href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Vitamine{$SessionParticulars}#Vitamin_A_Anker">Vitamin A</a></p>
<p class="fontsize_12"><a title="Details Vitamin C" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Vitamine{$SessionParticulars}#anker_vitaminc">Vitamin C</a></p>
<p class="fontsize_12"><a title="Details Vitamin D" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Vitamine{$SessionParticulars}#anker_vitamind">Vitamin D</a></p>
<p class="fontsize_12"><a title="Details Vitamin E" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Vitamine{$SessionParticulars}#anker_vitamine">Vitamin E</a></p>
<p class="fontsize_12"><a title="Vitamin K" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Vitamine{$SessionParticulars}#anker_vitamink">Vitamin K</a></p>
<p class="fontsize_12"><a title="Details Vitamin K" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Vitamine{$SessionParticulars}#anker_vitamink">Vitamin B1</a>&nbsp;</p>
<p class="fontsize_12"><a title="Details Vitamin B2" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Vitamine{$SessionParticulars}#anker_vitaminb2">Vitamin B2</a></p>
<p class="fontsize_12"><a href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Vitamine{$SessionParticulars}#anker_vitaminb3">Vitamin B3</a></p>
<p class="fontsize_12"><a title="Details B5" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Vitamine{$SessionParticulars}#anker_vitaminb5">Vitamin B5</a></p>
<p class="fontsize_12"><a title="Details Vitamin B6" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Vitamine{$SessionParticulars}#anker_vitaminb6">Vitamin B6</a></p>
<p class="fontsize_12"><a title="Details Vitamin B12" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Vitamine{$SessionParticulars}#anker_vitaminb12">Vitamin B12</a></p>
</td>
<td style="width: 20px;">&nbsp;</td>
<td style="width: 125px;" align="left" valign="top">
<p><strong>Mineralstoffe</strong></p>
<p class="fontsize_12">&nbsp;</p>
<p class="fontsize_12"><a title="Details Magnesium" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Mineralstoffe{$SessionParticulars}#anker_magnesium">Magnesium</a></p>
<p class="fontsize_12"><a title="Details Calcium" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Mineralstoffe{$SessionParticulars}#anker_calcium">Calcium</a></p>
<p class="fontsize_12"><a title="Details Jod" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Mineralstoffe{$SessionParticulars}#anker_jod">Jod</a></p>
<p class="fontsize_12"><a title="Details Eisen" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Mineralstoffe{$SessionParticulars}#anker_eisen">Eisen</a></p>
<p class="fontsize_12"><a title="Details Zink" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Mineralstoffe{$SessionParticulars}#anker_zink">Zink</a></p>
<p class="fontsize_12"><a title="Details Chrom" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Mineralstoffe{$SessionParticulars}#anker_chrom">Chrom</a></p>
<p class="fontsize_12"><a title="Details Fluorid" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Mineralstoffe{$SessionParticulars}#anker_fluorid">Fluorid</a></p>
<p class="fontsize_12"><a title="Details Kupfer" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Mineralstoffe{$SessionParticulars}#anker_kupfer">Kupfer</a></p>
</td>
<td style="width: 20px;">&nbsp;</td>
<td style="width: 130px;" align="left" valign="top">
<p><strong>Weitere Vitalstoffe</strong></p>
<p class="fontsize_12"><a title="Details Omega-3" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Sonstige{$SessionParticulars}#anker_omega3">Omega 3</a></p>
<p class="fontsize_12"><a title="Q10 Details" href="/index.html?vw=jumplink&amp;ec=N%E4hrstofflexikon+-+Sonstige{$SessionParticulars}#anker_omega3">Q10</a></p>
<p class="fontsize_12">&nbsp;</p>
<p class="fontsize_12">&nbsp;</p>
<p class="fontsize_12">&nbsp;</p>
&nbsp;</td>
<td style="width: 20px;">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
</td>
<td style="width: 15px;">&nbsp; &nbsp;</td>
<td>
<p><a title="Zum Purmeo Check" onclick="javascript:_gaq.push(['_trackEvent','Purmeo-Check', 'bottom', 'Pr&auml;parate'])" href="/purmeo-check"><img title="Zum Purmeo Check" src="/media/shared/Infoseiten/Purmeo-Praeparate/Zum-Purmeo-Check-Box-PH.png" alt="Purmeo Check - kostenlos pers&ouml;nlichen Vitaminbedarf erfahren" width="295" height="315" /></a>&nbsp; &nbsp;&nbsp;</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
{% endblock %}