{% extends 'PurmeoEshopBundle::layout.html.twig' %}

{% block main %}
<p>&nbsp;</p>
<table style="margin-left: 75px; margin-right: 75px; width: 750px;" border="0">
<tbody>
<tr>
<td>
<p style="text-align: left;"><span>&nbsp; Auf dieser Seite stellen wir f&uuml;r Sie zusammen, wo &uuml;ber Purmeo in der Presse berichtet wurde &ndash; online und offline.</span></p>
<p><span><br /></span></p>
</td>
</tr>
</tbody>
</table>
<table style="margin-left: 75px; margin-right: 75px; width: 750px;" border="0">
<tbody>
<tr>
<td align="left" valign="top">
<p style="text-align: left;"><span style="text-align: justify;"><a title="Lassen Sie uns von Purmeo in der Presse wissen" href="/index.html?vw=jumplink&amp;ec=Kontakt{$SessionParticulars}"><img title="Purmeo in der Presse" src="/media/shared/Infoseiten/Presse/Purmeo-in-der-Presse-1.png" alt="Purmeo - individualisierte Vitamine und Mineralstoffe - in der Presse" width="221" height="330" /></a></span></p>
<p>Sie wollen &uuml;ber Purmeo in berichten? Dann gelangen Sie hier zum <a title="Zum Journalisten Bereich" href="#journalisten">Journalisten Bereich</a></p>
</td>
<td>&nbsp;</td>
<td style="width: 10px;">&nbsp; &nbsp;</td>
<td align="left" valign="top">
<p style="text-align: left;">&nbsp;</p>
<table border="0">
<tbody>
<tr>
<td><a title="Zum Artikel: Purmeo in der Apotheke" href="http://www.apotheke-adhoc.de/nachrichten/nachricht-detail/vitaminpraeparate-unternehmen-purmeo-verkauft-an-apotheken/" target="_blank"><img title="Purmeo in der Apotheke adhoc" src="/media/shared/Infoseiten/Presse/Purmeo-in-der-Apotheke-adhoc.png" alt="Purmeo in der Apotheke adhoc" width="300" height="419" /></a></td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top"><span>28.11.2012</span>
<p>&nbsp;</p>
<p><span><strong><a title="Zum Artikel: Purmeo f&uuml;r die Apotheke" href="http://www.apotheke-adhoc.de/nachrichten/nachricht-detail/vitaminpraeparate-unternehmen-purmeo-verkauft-an-apotheken/" target="_blank">"Vitaminpr&auml;parate individuell f&uuml;r Apotheken"</a></strong></span></p>
<p><em><br /></em></p>
<p>auf:<a title="Zur digitalen Ausgabe von t3n" href="http://t3n.de/magazin/t3n-nr-28/">&nbsp;</a><a title="Zum Artikel: Purmeo in der Apotheke" href="http://www.apotheke-adhoc.de/nachrichten/nachricht-detail/vitaminpraeparate-unternehmen-purmeo-verkauft-an-apotheken/" target="_blank">Apotheke Adhoc</a></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td><a title="Zum Artikel: 15 Fragen an Purmeo" href="http://www.deutsche-startups.de/2012/12/14/15-fragen-an-nicolas-boldt-von-purmeo/" target="_blank"><img title="Zum Artikel: 15 Fragen an Purmeo" src="/media/shared/Infoseiten/Presse/Purmeo-15-Fragen-Deutsche-Startups.png" alt="Zum Artikel: 15 Fragen an Purmeo" width="300" height="307" /></a></td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top"><span>14.12.2012</span>
<p>&nbsp;</p>
<p><span><strong><a title="Zum Artikel: 15 Fragen an Purmeo" href="http://www.deutsche-startups.de/2012/12/14/15-fragen-an-nicolas-boldt-von-purmeo/" target="_blank">"15 Fragen an Purmeo"</a></strong></span></p>
<p><em><br /></em></p>
<p>auf:<a title="Zur digitalen Ausgabe von t3n" href="http://t3n.de/magazin/t3n-nr-28/">&nbsp;</a><a title="Zum Artikel: 15 Fragen an Purmeo" href="http://www.deutsche-startups.de/2012/12/14/15-fragen-an-nicolas-boldt-von-purmeo/" target="_blank">Deutsche Startups</a></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td><a title="Zum Artikel: Purmeo jetzt in noch mehr Apotheken" href="http://www.gruenderszene.de/news/purmeo-easyapotheke-offline" target="_blank"><img title="Purmeo auf Gr&uuml;nderszene" src="/media/shared/Infoseiten/Presse/Purmeo-Gruenderszene.png" alt="Purmeo auf Gr&uuml;nderszene" width="300" height="308" /></a></td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">26.11.2012
<p>&nbsp;</p>
<p><span><strong><a title="Purmeo auf Gr&uuml;nderszene" href="http://www.gruenderszene.de/news/purmeo-easyapotheke-offline" target="_blank">"Purmeo jetzt in noch mehr Apotheken"</a></strong></span></p>
<p><em><br /></em></p>
<p>auf:<a title="Zur digitalen Ausgabe von t3n" href="http://t3n.de/magazin/t3n-nr-28/">&nbsp;</a><a title="Zum Artikel: Purmeo in Apotheken" href="http://www.gruenderszene.de/news/purmeo-easyapotheke-offline" target="_blank">Gr&uuml;nderszene</a></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td><a title="Zum Artikel: Purmeo auf Deutsche Startups" href="http://www.deutsche-startups.de/2012/11/21/5-neue-deals-purmeo-home24-tado-yieldkit-aikme/" target="_blank"><img title="Purmeo auf Deutsche Startups" src="/media/shared/Infoseiten/Presse/Purmeo-Deutsche-startsups.png" alt="Purmeo auf Deutsche Startups" width="300" height="378" /></a></td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">
<p>21.11.2012</p>
<p>&nbsp;</p>
<p><span><strong><a title="Purmeo auf Deutsche Startups" href="http://www.deutsche-startups.de/2012/11/21/5-neue-deals-purmeo-home24-tado-yieldkit-aikme/" target="_blank">"Purmeo gewinnt erfahrene Investoren "</a></strong></span></p>
<p><em><br /></em></p>
<p>auf:<a title="Zur digitalen Ausgabe von t3n" href="http://t3n.de/magazin/t3n-nr-28/">&nbsp;</a><a title="Zu deutsche Startups" href="http://www.deutsche-startups.de/2012/11/21/5-neue-deals-purmeo-home24-tado-yieldkit-aikme/" target="_blank">Deutsche Startups</a></p>
<p><em><br /></em></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td><img title="Purmeo Vitamincoach" src="/media/shared/Infoseiten/Presse/Purmeo-Vitamin-Coach.png" alt="Purmeo Vitamincoac" width="300" height="267" /></td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">
<p>25.09.2012</p>
<p>&nbsp;</p>
<p><span><strong><a title="Purmeo im Weekendmagazin" href="http://www.weekendmagazin.at/#/WEEKEND%20MAGAZIN" target="_blank">"Individuelles Vitaminpaket - der Markt wartete darauf"</a></strong></span></p>
<p><em><br /></em></p>
<p>In:<a title="Zur digitalen Ausgabe von t3n" href="http://t3n.de/magazin/t3n-nr-28/">&nbsp;</a><a title="Purmeo im Weekendmagazin" href="http://www.weekendmagazin.at/#/WEEKEND%20MAGAZIN">Weekendmagazin</a></p>
<p><em>Das Beste am Wochenende</em></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td><a title="Purmeo in der Wirtschaftswunder" href="http://www.wirtschaftswunder-bb.de/magazin/ausgabe-juli-september-2012/der-markt-wartete-darauf.html" target="_blank"><img title="Presse/Purmeo-in-der--Wirtschaftswunder.png" src="/media/shared/Infoseiten/Presse/Purmeo-in-der--Wirtschaftswunder.png" alt="Presse/Purmeo-in-der--Wirtschaftswunder.png" width="300" height="354" /></a></td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">
<p>22.07.2012</p>
<p>&nbsp;</p>
<p><span><strong><a title="Purmeo im VBKI Spiegel" href="http://www.wirtschaftswunder-bb.de/magazin/ausgabe-juli-september-2012/der-markt-wartete-darauf.html" target="_blank">"Individuelles Vitaminpaket - der Markt wartete darauf"</a></strong></span></p>
<p><em><br /></em></p>
<p>In:<a title="Zur digitalen Ausgabe von t3n" href="http://t3n.de/magazin/t3n-nr-28/">&nbsp;</a><a title="Link zu Purmeo in der Wirtschaftswunder" href="http://www.wirtschaftswunder-bb.de/magazin/ausgabe-juli-september-2012/der-markt-wartete-darauf.html" target="_blank">Wirtschaftswunder</a></p>
<p><em>Das Magazin Berliner Kaufleute und Industrieller</em></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td><img title="Purmeo im VBKI Spiegel" src="/media/shared/Infoseiten/Presse/Purmeo-im-VBKI-Spiegel.png" alt="Purmeo im VBKI Spiegel" width="300" height="456" /></td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">
<p>09.07.2012</p>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;"><strong><a title="Purmeo im VBKI Spiegel" href="http://www.vbki.de/fileadmin/VBKI/VBKI_SPIEGEL/VBKI_Spiegel_227_Internet.pdf">"Das ganze ABC der Vitalstoffe"</a></strong></span></p>
<p><em><br /></em></p>
<p>In:<a title="Zur digitalen Ausgabe von t3n" href="http://t3n.de/magazin/t3n-nr-28/">&nbsp;</a><a title="Link zur Purmeo Ausgabe vom VBKI Spiegel" href="http://www.vbki.de/fileadmin/VBKI/VBKI_SPIEGEL/VBKI_Spiegel_227_Internet.pdf">VBKI Spiegel</a></p>
<p><em>Das Magazin Berliner Kaufleute und Industrieller</em></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td>
<p><img title="Purmeo - Das pers&ouml;nliche Vitaminschutzschild in der t3n" src="/media/shared/Infoseiten/Presse/Purmeo-in-der-t3n.png" alt="Purmeo - Das pers&ouml;nliche Vitaminschutzschild in der t3n" width="300" height="425" /></p>
</td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">
<p>14.06.2012</p>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;"><strong><a title="Purmeo in t3n" href="http://t3n.de/magazin/t3n-nr-28/" target="_blank">"Purmeo: Das pers&ouml;nliche Vitaminschutzschild"</a></strong></span></p>
<p><em><br /></em></p>
<p>In:<a title="Zur digitalen Ausgabe von t3n" href="http://t3n.de/magazin/t3n-nr-28/"> t3n </a><em>Open.Web.Business.</em></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td><img title="Purmeo ist Neugr&uuml;ndung des Monats - Artikel im Tagesspiegel" src="/media/shared/Infoseiten/Presse/Purmeo-im-Tagesspiegel.png" alt="Purmeo ist Neugr&uuml;ndung des Monats - Artikel im Tagesspiegel" width="290" height="744" /></td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">
<p>04.06.2012</p>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;"><strong>"Purmeo ist Neugr&uuml;ndung des Monats!"</strong></span></p>
<p>&nbsp;</p>
<p>In:&nbsp;<a title="Purmeo im Tagesspiegel Berlin Maximal" href="http://www.berlin-maximal.de/">Tagesspiegel - Berlin Maximal</a></p>
<p><em>Das Wirtschaftsmagazin des Tagesspiegels</em></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td>
<p><img title="Purmeo - individualisierte Vitamine und Mineralstoffe - in Trendupdate" src="/media/shared/Infoseiten/Presse/Purmeo-in-Trendupdate.png" alt="Purmeo - individualisierte Vitamine und Mineralstoffe - in Trendupdate" width="300" height="249" /></p>
</td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">
<p>30.04.2012</p>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;"><strong>"Purmeo - individualisierte Vitamine"</strong></span></p>
<p>&nbsp;</p>
<p>In: <a title="Zur Trend Update Website" href="http://www.trend-update.de/" target="_blank">Trendupdate</a></p>
<p><em>Lifestyle Print Magazin</em></p>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">&nbsp;</td>
</tr>
<tr>
<td>
<p><a title="Zum Artikel auf meinstartup.com" href="http://www.meinstartup.com/purmeo-de-mit-expertenhilfe-zum-ausgekluegelten-health-produkt/3483/"><img title="Purmeo.de: Mit Expertenhilfe zum ausgekl&uuml;gelten Health-Produkt" src="/media/shared/Infoseiten/Presse/Purmeo-auf-Mein-Start-up.png" alt="Purmeo.de: Mit Expertenhilfe zum ausgekl&uuml;gelten Health-Produkt" width="300" height="144" /></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">
<p>12.4.2012</p>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;"><strong><a title="Zum Artikel auf Meinstartup.com" href="http://www.meinstartup.com/purmeo-de-mit-expertenhilfe-zum-ausgekluegelten-health-produkt/3483/">"Purmeo.de: Mit Expertenhilfe zum ausgekl&uuml;gelten Health-Produkt"</a></strong></span></p>
<p>&nbsp;</p>
<p>Auf: <a title="Mein Startup Website" href="http://www.meinstartup.com" target="_blank">Meinstartup.com</a></p>
</td>
</tr>
<tr>
<td>
<p><a title="Zu Purmeo auf venturevillage" href="http://venturevillage.eu/purmeo-the-whu-grads-who-are-customizing-your-vitamins"><img title="Purmeo auf Venture Village" src="/media/shared/Infoseiten/Presse/Purmeo-auf-Venture-Village.png" alt="Purmeo - individualisierte Vitamine und Mineralstoffe - auf Venture Village" width="300" height="239" /></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">
<p>8.3.2012</p>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;"><strong><a title="Zum Artikel auf venture village" href="http://venturevillage.eu/purmeo-the-whu-grads-who-are-customizing-your-vitamins">"Introducing Purmeo Founders Peter Haag and Nicolas Boldt, the WHU Grads customizing your vitamins"</a></strong></span></p>
<p>&nbsp;</p>
<p>Auf: <a title="Zu venturevilage.eu" href="http://venturevillage.eu/" target="_blank">venture village.eu</a></p>
</td>
</tr>
<tr>
<td>
<p><a title="Zu Purmeo auf Deutsche Startups" href="http://www.deutsche-startups.de/2012/03/07/persoenliches-vitamin-schutzschild-purmeo-versorgt-nutzer-mit-individuellen-naehrstoff-kombinationen"><img title="Pers&ouml;nliches Vitaminschutzschild - Purmeo versorgt Nutzer mit individueller N&auml;hrstoffkombination" src="/media/shared/Infoseiten/Presse/Purmeo-auf-DS.png" alt="Pers&ouml;nliches Vitaminschutzschild - Purmeo versorgt Nutzer mit individueller N&auml;hrstoffkombination" width="300" height="226" /></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">
<p>7.3.2012</p>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;"><strong><a title="Zum Artikel auf Deutsche Startups" href="http://www.deutsche-startups.de/2012/03/07/persoenliches-vitamin-schutzschild-purmeo-versorgt-nutzer-mit-individuellen-naehrstoff-kombinationen">"Pers&ouml;nliches Vitamin-Schutzschild: Purmeo versorgt Nutzer mit individuellen N&auml;hrstoff-Kombinationen"</a></strong></span></p>
<p>&nbsp;</p>
<p>Auf: <a title="Zur www.deutsche-startups.de" href="http://www.deutsche-startups.de" target="_blank">deutsche startups.de</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p><a title="Zu Purmeo auf Gr&uuml;nderszene" href="http://www.gruenderszene.de/allgemein/clipviral-cronsync-purmeo-motosino-lerna"><img title="Purmeo auf Gr&uuml;nderszene" src="/media/shared/Infoseiten/Presse/Purmeo-auf-Gruenderszene.png" alt="Purmeo - individualisierte Vitamine und Mineralstoffe - auf Gr&uuml;nderszene" width="300" height="141" /></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</td>
<td style="width: 10px;" align="left" valign="top">&nbsp;</td>
<td align="left" valign="top">
<p>6.3.2012</p>
<p>&nbsp;</p>
<p><span style="text-decoration: underline;"><strong><a title="Zu Purmeo auf Gr&uuml;nderszene" href="http://www.gruenderszene.de/allgemein/clipviral-cronsync-purmeo-motosino-lerna">"Purmeo - Vitamine f&uuml;r Onlineshopper"</a></strong></span></p>
<p>&nbsp;</p>
<p>Auf: <a title="Zu Gr&uuml;nderszene.de" href="http://www.gruenderszene.de" target="_blank">Gr&uuml;nderszene.de</a></p>
<p>Das Magazin f&uuml;r Gr&uuml;nder</p>
</td>
</tr>
<tr>
<td><a title="Purmeo auf egoo.de" href="http://egoo.de/vitaminreich-purmeo-startet.html" target="_blank"><img title="Purmeo auf egoo.de" src="/media/shared/Infoseiten/Presse/Artikel-Egoo.png" alt="Purmeo - individualisierte Vitamine und Mineralstoffe - auf egoo.de" width="300" height="413" /></a></td>
<td style="width: 10px;" align="left" valign="top">
<p><a title="Purmeo auf egoo.de" href="http://egoo.de/vitaminreich-purmeo-startet.html">&nbsp;</a></p>
</td>
<td align="left" valign="top">
<p>25.2.2012</p>
<p>&nbsp;</p>
<p><a title="Purmeo auf egoo.de" href="http://egoo.de/vitaminreich-purmeo-startet.html" target="_blank"><span style="text-decoration: underline;"><strong>"Vitaminreich!&nbsp;</strong></span><strong style="text-decoration: underline;">Purmeo startet."</strong></a></p>
<p>&nbsp;</p>
<p>Auf: <a title="Egoo Startseite" href="http://www.egoo.de" target="_blank">egoo.de</a></p>
<p>Online-Magazin f&uuml;r Mass Customization&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: left;">&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<hr />
<table style="margin-left: 75px; margin-right: 75px;" border="0">
<tbody>
<tr>
<td style="width: 243px;">
<h2>&nbsp;</h2>
</td>
<td>
<h2>M&ouml;chten Sie &uuml;ber Purmeo berichten?&nbsp;</h2>
<p>Ihr Ansprechpartner f&uuml;r alle journalistischen Anfragen, Messen und Produkttests ist</p>
<p>&nbsp;</p>
<p><strong>Nicol&agrave;s Boldt</strong></p>
<p>&nbsp;</p>
<p>E-Mail:&nbsp;<a href="mailto:boldt@purmeo.de">boldt"@"purmeo.de</a></p>
<p>Mobil: &nbsp;+49 176 327 518 14</p>
<p>&nbsp;</p>
</td>
<td>&nbsp;</td>
</tr>
<tr>
<td style="width: 243px;">
<h2>&nbsp;</h2>
</td>
<td>
<h2>Das Purmeo Pressekit</h2>
<a name="journalisten"></a>
<p>Wenn Sie &uuml;ber Purmeo berichten wollen, erhalten Sie hier ein umfangreiches Paket mit Grafiken und Presseinformationen</p>
<p>&nbsp;</p>
<p><strong>Alle Purmeo Pressemitteilungen</strong></p>
<p>&nbsp;</p>
<p><strong><a href="/media/shared/Infoseiten/Presse/Purmeo-PMs.zip" target="_blank"><img title="Purmeo Pressekit downloaden" src="/media/shared/Infoseiten/Presse/presse_download_box_icon.png" alt="Purmeo Pressekit downloaden" width="128" height="128" /></a></strong></p>
<p>&nbsp;</p>
<p><strong>Foto von den Gr&uuml;ndern</strong></p>
<p>&nbsp;</p>
<p><a href="/media/shared/Infoseiten/Presse/Purmeo-Gruenderteam-Peter-Haag-Nicolas-Boldt.jpg" target="_blank"><img title="Das Purmeo Gr&uuml;nderteam" src="/media/shared/Infoseiten/Presse/Purmeo-Gruenderteam-Peter-Haag,-Nicolas-Boldt-thumb.jpg" alt="Das Purmeo Gr&uuml;nderteam" width="350" height="260" /></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Die Purmeo Box</strong></p>
<p><strong><br /></strong></p>
<p><a href="/media/shared/Infoseiten/Presse/Purmeo-Box-Shot.jpg" target="_blank"><img title="Die einzelne Purmeo Box" src="/media/shared/Infoseiten/Presse/Purmeo-Box-Shot-thumb.jpg" alt="Die einzelne Purmeo Box" width="350" height="276" /></a></p>
<p>&nbsp;</p>
<p><a href="/media/shared/Infoseiten/Presse/Purmeo-Box-Stapel.jpg" target="_blank"><img title="Die monatliche Purmeo Box" src="/media/shared/Infoseiten/Presse/Purmeo-Box-Stapel-thumb.jpg" alt="Die monatliche Purmeo Box" width="350" height="298" /></a></p>
<p>&nbsp;</p>
<p><a href="/media/shared/Infoseiten/Presse/Purmeo-Box-Close.jpg" target="_blank"><img title="Closeup der Purmeo Box" src="/media/shared/Infoseiten/Presse/Purmeo-Box-Close-thumb.jpg" alt="Closeup der Purmeo Box" width="350" height="233" /></a></p>
<p>&nbsp;</p>
</td>
<td>&nbsp;</td>
</tr>
<tr>
<td style="width: 243px;">
<h2>&nbsp;</h2>
</td>
<td>
<h2>Das Purmeo Logo</h2>
<p>Die unten stehenden Grafiken k&ouml;nnen Sie zum verlinken auf Purmeo verwenden. Bitte manipulieren Sie unsere Grafiken nicht und respektieren Sie unsere Richtlinien.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong><a href="/media/shared/Infoseiten/Presse/Purmeo-Logo.png"><img title="Presse/Purmeo-Logo-thumb.png" src="/media/shared/Infoseiten/Presse/Purmeo-Logo-thumb.png" alt="Presse/Purmeo-Logo-thumb.png" width="350" height="103" /></a><br /></strong></p>
<p>&nbsp;</p>
&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
{% endblock %}