{% extends 'PurmeoEshopBundle::layout.html.twig' %}

{% block main %}
<table style="margin-left: 75px; margin-right: 75px;" border="0">
<tbody>
<tr>
<td>
<p style="text-align: justify;">Vitamine stammen von dem lateinischen Begriff &bdquo;vita&ldquo; f&uuml;r Leben ab, denn sie sind lebensnotwendig und an fast allen lebenswichtigen K&ouml;rperfunktionen sowie dem Wachstum beteiligt. Vitamine werden nach Wasserl&ouml;slichkeit und Fettl&ouml;slichkeit unterteilt. Der K&ouml;rper legt von fettl&ouml;slichen Vitaminen und Vitamin B12 gro&szlig;e Speicher an, so dass bei langfristiger &Uuml;berversorgung negative Folgen auftreten k&ouml;nnen. Die wasserl&ouml;slichen Vitamine kann der K&ouml;rper nicht auf diese Weise speichern, daher m&uuml;ssen wasserl&ouml;sliche Vitamine regelm&auml;&szlig;ig zugef&uuml;hrt werden, damit kein Mangel auftritt.</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">Hier finden Sie alle wichtigen Informationen zu Vitaminen:</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">&nbsp;</p>
<h3 class="Purmeo3" style="text-align: left;"><a name="Vitamin_A_Anker"></a>Vitamin A</h3>
<p style="text-align: justify;">Vitamin A ist vor allem in tierischen Lebensmitteln wie Leber, Milch und Milchprodukten, sowie Eigelb, K&auml;se und Fisch enthalten. Pflanzliche Nahrungsmittel beinhalten Vitamin A meist in Form von Beta-Carotin. Gelbe, rote und gr&uuml;ne Gem&uuml;se und Fr&uuml;chte, wie Tomaten, Karotten, Spinat, Paprika, Kirschen, Aprikosen, Grapefruits, Rote Bete, Papaya, Petersilie, Broccoli und Feldsalat enthalten das wertvolle Beta-Carotin. Durch Hitze- und Lichteinwirkung kommt es h&auml;ufig zu gro&szlig;en Vitaminverlusten, die bei normaler Ern&auml;hrung und schonender Zubereitung der Lebensmittel im Durchschnitt bei 20% oder mehr liegen.</p>
<br />
<p><strong>Vitamin A...</strong><br /> tr&auml;gt zu einem normalen Eisenstoffwechsel bei<br /> tr&auml;gt zur Erhaltung normaler Schleimh&auml;ute beo<br /> tr&auml;gt zur Erhaltung normaler Haut bei<br /> tr&auml;gt zur Erhaltung normaler Sehkraft bei<br /> tr&auml;gt zu einer normalen Funktion des Immunsystems bei<br /> hat eine Funktion der Zellspezialisierung</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3 class="Purmeo3" style="text-align: left;"><a name="anker_vitaminc"></a>Vitamin C</h3>
<p style="text-align: justify;">Das wichtigste nat&uuml;rliche Vorkommen von Vitamin C ist vor allem in Obst und Gem&uuml;se zu finden, sein Gehalt sinkt jedoch beim Kochen, Trocknen oder Einweichen sowie bei der Lagerhaltung. Zitrusfr&uuml;chte wie Orangen, Grapefruits und Zitronen enthalten &ndash; in reifem Zustand unmittelbar nach der Ernte &ndash; viel Vitamin C. Gr&uuml;nkohl hat den h&ouml;chsten Vitamin-C-Gehalt aller Kohlarten. Sauerkraut, Wei&szlig;kraut und Rotkraut sind ebenfalls gute Vitamin-C-Lieferanten. Sauerkraut war lange Zeit in der Seefahrt von Bedeutung, wo ein haltbares, an Vitamin C reiches, Nahrungsmittel ben&ouml;tigt wurde. Die h&ouml;chsten nat&uuml;rlichen Vitamin-C-Konzentrationen hat man in der Buschpflaume und im Camu-Camu gefunden. In Sauerkraut und Kohlgem&uuml;se ist in gekochtem Zustand mehr Vitamin C enthalten, als im rohen Zustand. Durch zu langes Kochen wird das Vitamin jedoch zerst&ouml;rt.</p>
<br />
<p><strong>Vitamin C...</strong><br /> tr&auml;gt zu einer normalen Funktion des Immunsystems w&auml;hrend und nach intensiver k&ouml;rperlicher Bet&auml;tigung bei.<br /> tr&auml;gt zu einer normalen Kollagenbildung f&uuml;r eine normalen Funktion der Blutgef&auml;&szlig;e bei.<br /> tr&auml;gt zu einer normalen Kollagenbildung f&uuml;r eine normale Funktion der Knochen/Knorpelfunktion/Zahnfleisches/Haut/Z&auml;hne bei.<br /> tr&auml;gt zu einem normalen Energiestoffwechsel bei.<br /> tr&auml;gt zu einer normalen Funktion des Nervensystems bei.<br /> tr&auml;gt zu normalen psychischen Funktion bei.<br /> tr&auml;gt zu einer normalen Funktion des Immunsystems bei.<br /> tr&auml;gt dazu bei, die Zellen vor oxidativem Stress zu sch&uuml;tzen.<br /> tr&auml;gt zur Verringerung von M&uuml;digkeit und Erm&uuml;dung bei.<br /> tr&auml;gt zur Regeneration der reduzierten Form von Vitamin E bei.<br /> erh&ouml;ht die Eisenaufnahme.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3 class="Purmeo3" style="text-align: left;"><a name="anker_vitamind"></a>Vitamin D</h3>
<p style="text-align: justify;">Vitamin D ist ein fettl&ouml;sliches Vitamin, das unser K&ouml;rper unter Einfluss von Sonnenlicht selbst bilden kann. Neue Studien ziegen jedoch, dass immer mehr Menschen einen Vitamin D-Mangel vorweisen. Dieser kann verheerende Folgen haben: Vitamin D ist wesentlich an der Regulierung des Kalziumhaushaltes beteiligt, so kann es durch Mangel zu einer Knocheninstabilit&auml;t kommen. Vitamin D kommt in der Nahrung vor allem in Lebertran und Fisch vor. Besonders geeignet sind fettreiche Fischarten wie Sardine, Hering oder Lachs. Wer kein Fischfreund ist, kann auch auf Milchprodukte und Eier sowie auf verschiedene Pilzarten zur&uuml;ckgreifen. Hier sind besonders Steinpilze sowie Shiitake-Pilze ein guter Vitamin D-Lieferant. Allerdings liegt ihr Vitamin D-Gehalt weit unter dem der Fettfische. Zus&auml;tzlich zu den genannten Lebensmitteln kann Vitamin D dem K&ouml;rper auch &uuml;ber Nahrungserg&auml;nzungsmittel zugef&uuml;hrt werden.</p>
<br />
<p><strong>Vitamin D...</strong><br /> tr&auml;gt zu einer normalen Aufnahme/Verwertung von Calcium und Phosphor bei.<br /> tr&auml;gt zu einem normalen Calciumspiegel im Blut bei.<br /> tr&auml;gt zur Erhaltung normaler Knochen bei.<br /> tr&auml;gt zur Erhaltung einer normalen Muskelfunktion bei.<br /> tr&auml;gt zur Erhaltung einer normalen Muskelfunktion bei.<br /> tr&auml;gt zur Erhaltung normaler Z&auml;hne bei.<br /> tr&auml;gt zu einer normalen Funktion des Immunsystems bei.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3 class="Purmeo3" style="text-align: left;"><a name="anker_vitamine"></a>Vitamin E</h3>
<p style="text-align: justify;">Vitamin E wird von Pflanzen zum Schutz vor Oxidation gebildet und ist deswegen in vielen pflanzlichen Lebensmitteln enthalten. Auch im Menschen wirkt Vitamin E als wirksames Antioxidanz und sch&uuml;tzt vor Krebs und Arteriosklerose. Der Gehalt ist besonders hoch in pflanzlichen &Ouml;len, aber auch Haseln&uuml;sse enthalten viel Vitamin E.</p>
<p class="Purmeo3">&nbsp;</p>
<p class="Purmeo3">&nbsp;</p>
<h3 class="Purmeo3" style="text-align: left;"><a name="anker_vitamink"></a>Vitamin K</h3>
<p style="text-align: justify;">Vitamin K wird von den Bakterien im Darm gebildet und ist zus&auml;tzlich in pflanzlichen Lebensmitteln wie Getreide, H&uuml;lsenfr&uuml;chten, Milch- und Milchprodukten, Eiern, Fr&uuml;chten und gr&uuml;nem Gem&uuml;se enthalten. Im K&ouml;rper ist es f&uuml;r die Blutgerinnung wichtig.</p>
<p class="Purmeo3">&nbsp;</p>
<p class="Purmeo3">&nbsp;</p>
<h3 class="Purmeo3" style="text-align: left;"><a name="anker_vitaminb1"></a>Vitamin B1</h3>
<p style="text-align: justify;">Gute Vitamin-B1-Lieferanten sind Muskelfleisch, besonders Schweinefleisch, Leber, einige Fischarten (Scholle, Thunfisch), Getreide und Getreideprodukte, H&uuml;lsenfr&uuml;chte und Kartoffeln. Der Mittelwert f&uuml;r die Zubereitungsverluste von Lebensmitteln bei landes&uuml;blicher Ern&auml;hrung und schonender Zubereitung betr&auml;gt ca. 30% oder mehr. Eine leichte Unterversorgung liegt relativ h&auml;ufig vor und zeigt sich in Symptomen wie M&uuml;digkeit, Appetitlosigkeit und Verdauungsproblemen. Da Vitamin B1 nur sehr kurz gespeichert werden kann, ist eine regelm&auml;&szlig;ige Aufnahme besonders wichtig. Viele Menschen haben durch eine einseitige Ern&auml;hrung, Stress, Anti-baby-Pille, Schwangerschaft / Stillzeit, Rauchen, Alkoholismus einen Vitamin-B1-Mangel.</p>
<br />
<p><strong>Vitamin B1...</strong><br /> tr&auml;gt zu einem normalen Energiestoffwechsel bei.<br /> tr&auml;gt zu einer normalen Funktion des Nervensystems bei.<br /> tr&auml;gt zur normalen psychischen Funktion bei .<br /> tr&auml;gt zu einer normalen Herzfunktion bei.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3 class="Purmeo3" style="text-align: left;"><a name="anker_vitaminb2"></a>Vitamin B2</h3>
<p style="text-align: justify;">Vitamin B2 ist in tierischen Lebensmitteln, wie Milch, Milchprodukten, Leber, Fleisch und Fisch enthalten. Auch folgende pflanzliche Nahrungsmittel beinhalten Riboflavin: Gr&uuml;nkohl, Erbsen, Brokkoli, gelbe Paprika, sowie wie Getreide und Getreideprodukte. Der K&ouml;rper kann Vitamin B2 jedoch aus tierischen Produkten besser resorbieren. Riboflavin ist weitgehend hitzestabil, wird aber durch Licht inaktiviert, weshalb einer der bedeutsamsten Vitamin-B2-Lieferanten als tats&auml;chlicher Lieferant teilweise ausf&auml;llt, wenn die Milch aus durchsichtigen Glasflaschen konsumiert wird, da bei solcher Aufbewahrung der Milch, das Lactoflavin durch das einfallende Licht inaktiviert wird. Bei sachgem&auml;&szlig;er Lagerung und schonender Zubereitung der Lebensmittel sind Vitaminverluste von Riboflavin in einer Gr&ouml;&szlig;enordnung von 20% und mehr zu erwarten.</p>
<br />
<p><strong>Vitamin B2...</strong><br /> tr&auml;gt zu einem normalen Energiestoffwechsel bei.<br /> tr&auml;gt zu einer normalen Funktion des Nervensystems bei.<br /> tr&auml;gt zur Erhaltung normaler Schleimh&auml;ute/roter Blutk&ouml;rperchen/Haut/Sehkraft/Eisenstoffwechsel bei<br /> tr&auml;gt dazu bei, die Zellen vor oxidativem Stress zu sch&uuml;tzen.<br /> tr&auml;gt zur Verringerung von M&uuml;digkeit und Erm&uuml;dung bei.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3 class="Purmeo3" style="text-align: left;"><a name="anker_vitaminb3"></a>Vitamin B3</h3>
<p style="text-align: justify;">Nat&uuml;rliche Lieferanten von Vitamin B3 sind Nahrungsmittel wie Gefl&uuml;gel, Wild, Fisch, Pilze, Milchprodukte und Eier. Auch Leber, Kaffee, Vollkornprodukte, verschiedene Gem&uuml;se und Obst enthalten Vitamin B3, wobei es aus tierischen Produkten grunds&auml;tzlich besser vom Organismus verwertet wird. Veganer k&ouml;nnen ihren Vitamin-B3-Bedarf beispielsweise aus Erdn&uuml;ssen, Weizenkleie, Datteln, Champignons, Bierhefe, getrockneten Aprikosen und H&uuml;lsenfr&uuml;chten decken.Der t&auml;gliche Vitamin-B3-Bedarf des K&ouml;rpers h&auml;ngt vom Energiebedarf ab.</p>
<br />
<p><strong>Vitamin B3...</strong><br /> tr&auml;gt zu einem normalen Energiestoffwechsel bei.<br /> tr&auml;gt zu einer normalen Funktion des Nervensystems bei.<br /> tr&auml;gt zur normalen psychischen Funktion bei.<br /> tr&auml;gt zur Erhaltung normaler Schleimh&auml;ute bei.<br /> tr&auml;gt zur Erhaltung normaler Haut bei.<br /> tr&auml;gt zur Verringerung von M&uuml;digkeit und Erm&uuml;dung bei.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3 class="Purmeo3" style="text-align: left;"><a name="anker_vitaminb5"></a>Vitamin B5</h3>
<p style="text-align: justify;">Pantothens&auml;ure kommt, in sehr vielen Nahrungsmitteln vor. In besonders hohen Konzentrationen jedoch in tierischen Lebensmitteln in: Leber, Hering, Rind- und Schweinefleisch, H&uuml;hnereiern und Milch. Bei pflanzlichen Lebensmitteln weisen Haferflocken, Vollkornweizen, N&uuml;sse, Reis, Apfelsinen, Melonen und Tomaten h&ouml;here Mengen an Pantothens&auml;ure auf.</p>
<br />
<p><strong>Vitamin B5...</strong><br /> tr&auml;gt zu einem normalen Energiestoffwechsel bei.<br /> tr&auml;gt zu einer normalen Synthese und zu einem normalen Stoffwechsel von Steroidhormonen, Vitamin D und einen Neutrotransmittern bei.<br /> tr&auml;gt zur Verringerung von M&uuml;digkeit und Erm&uuml;dung bei.<br /> tr&auml;gt zu einer normalen geistigen Leistung bei.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3 class="Purmeo3" style="text-align: left;"><a name="anker_vitaminb6"></a>Vitamin B6</h3>
<p style="text-align: justify;">Vitamin B6 kommt in geringen Dosen in fast allen Lebensmitteln tierischer und pflanzlicher Herkunft vor. Milchprodukte, Leber, Gefl&uuml;gel und Schweinefleisch, Fisch, Kohl, gr&uuml;ne Bohnen, Linsen, Feldsalat, Kartoffeln, Vollkorngetreide, Vollkornprodukte, Weizenkeime, N&uuml;sse, Hefe, Wei&szlig;bier, Avocado und Bananen sind sehr gute Quellen. Da Vitamin B6 im Aminos&auml;urestoffwechsel seine Wirkungen entfaltet, ist der Bedarf vom zugef&uuml;hrten Protein abh&auml;ngig. Je mehr Eiwei&szlig; der K&ouml;rper aufnimmt, desto mehr Vitamin B6 ben&ouml;tigt er. Da in fast allen Nahrungsmitteln Vitamin B6 vorkommt, sind Mangelerscheinungen selten.</p>
<br />
<p><strong>Vitamin B6...</strong><br /> tr&auml;gt zu einer normalen Cystein-Synthese bei.<br /> tr&auml;gt zu einer normalen Funktion des Nervensystems bei.<br /> tr&auml;gt zu einem normalen Homocystein-Stoffwechsel bei.<br /> tr&auml;gt zu einem normalen Eiwei&szlig;- und Glycogenstoffwechsel bei.<br /> tr&auml;gt zur normalen psychischen Funktion bei.<br /> tr&auml;gt zur normalen Bildung von roten Blutk&ouml;rperchen bei.<br /> tr&auml;gt zur normalen Funktion des Immunsystems bei.<br /> tr&auml;gt zur Verringerung von M&uuml;digkeit und Erm&uuml;dung bei.<br /> tr&auml;gt zur Regulierung der Hormont&auml;tigkeit bei.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3 class="Purmeo3" style="text-align: left;"><a name="anker_vitaminb12"></a>Vitamin B12</h3>
<p style="text-align: justify;">Vitamin B12, auch Cobalamin genannt, wird ausschlie&szlig;lich von Mikroorganismen gebildet und ist deswegen prim&auml;r in tierischen Lebensmitteln zu finden. Gute Quellen f&uuml;r Cobalamin sind deswegen Fleisch, Gefl&uuml;gel, Eier und Fisch. Geringere Mengen sind auch in Milch und Milchprodukten enthalten. Eine ausreichende Versorgung ist besonders bei streng vegetarischer und veganer Ern&auml;hrung kritisch. Im K&ouml;rper ist Cobalamin an vielen Stoffwechselvorg&auml;ngen beteiligt. &nbsp;</p>
<p class="Purmeo3">&nbsp;</p>
<p class="Purmeo3">&nbsp;</p>
<h3 class="Purmeo3" style="text-align: left;"><a name="anker_biotin"></a>Biotin</h3>
<p style="text-align: justify;">Biotin ist in sehr vielen Nahrungsmitteln enthalten, jedoch aber in geringen Mengen. Die folgenden Lebensmittel weisen einen durchschnittlich hohen Biotin Gehalt auf: Trockenhefe, Rinderleber, Eigelb, Sojabohnen, Haferflocken, Waln&uuml;sse, Champignons, ungesch&auml;lter Reis, Weizen-Vollkornmehl, Fisch, Spinat, Rind- und Schweinefleisch, Bananen, Kuhmilch, &Auml;pfel.</p>
<br />
<p><strong>Biotin...</strong><br /> tr&auml;gt zu einem normalen Energiestoffwechsel bei.<br /> tr&auml;gt zu einer normalem Funktion des Nervensystems bei.<br /> tr&auml;gt zu einem normalen Stoffwechsel von Makron&auml;hrstoffen bei.<br /> tr&auml;gt zur normalen psychischen Funktion bei.<br /> tr&auml;gt zur Erhaltung normaler Haare/Schleimh&auml;ute/Haut bei.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3 class="Purmeo3" style="text-align: left;"><a name="anker_folsaeure"></a>Fols&auml;ure</h3>
<p style="text-align: justify;">Da der K&ouml;rper nicht in der Lage ist, dieses Vitamin selbst herzustellen, muss Folat &uuml;ber die Nahrung (oder als Nahrungserg&auml;nzung) aufgenommen werden. Kleine bis mittelm&auml;&szlig;ige Mengen an Fols&auml;ure kommen in gr&uuml;nem Blattgem&uuml;se, Vollkornprodukten, Brokkoli, roter Beete, Spargel, Karotten, Tomaten, N&uuml;ssen, Obst (Orangensaft, Ananassaft, Honigmelonen, Grapefruit Saft, Bananen, Erdbeeren), Fisch, Fleisch, Eigelb und Bier.vZu den bedeutenderen Fols&auml;ureliferanten z&auml;hlen Weizenkeime und &ndash;kleie und Gefl&uuml;gel- und Kalbsleber.</p>
<br />
<p><strong>Fols&auml;ure...</strong><br /> tr&auml;gt zum Wachstum des m&uuml;tterlichen Gewebes w&auml;hrend der Schwangerschaft bei.<br /> tr&auml;gt zu einer normalen Aminos&auml;uresynthese bei.<br /> tr&auml;gt zu einer normalen Blutbildung bei.<br /> tr&auml;gt zu einem normalen Homocystein-Stoffwechsel bei.<br /> tr&auml;gt zur normalen psychischen Funktion bei.<br /> tr&auml;gt zu einer normalen Funktion des Immunsystems bei.<br /> tr&auml;gt zur Verringerung von M&uuml;digkeit und Erm&uuml;dung bei.<br /> hat eine Funktion bei der Zellteilung.</p>
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>
{% endblock %}